


#nav1 {
    bottom: 0px;
    position : absolute;
    text-align: center;
    font-size: 13px;

}

header{
    color black;
}

#barrenav {
    font: 1em sans-serif;
    display: table;
    width: 70%;
    margin: 00px auto;
    padding: 0;
    display: table-cell; 
}


#btn_defi{ width:70%;
margin :1%;
color : black 
 }

/* scrolling menu catégorisation des défis*/
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color:black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}




svg{
  height:20px;
  width: 20px;
}

#nav2{
    background-color:beige;
    display: table-cell;
    padding: 10px 10px 10px 10px;
}

.tab-content { background-color: darkseagreen;
    height: 450px;
    /* display: grid; */
    /* grid-gap: 50px; */
    position: relative;
    grid-template-areas:                      "header header header"
                                              "nav	nav nav"
                                              "left 	center right "
                                              "footer	footer footer";
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 20px 600px 200px;
}


h1, h2 {
    font-family: monospace;
    text-align: center;
  }


 
  
/* 

.left {
  background-color: dodgerblue;
  grid-area: left;
}

.right {
  background-color: beige;
  grid-area: right;
}

footer {
  background-color: dodgerblue;
  grid-area: footer;
}

.center {
    color:red

} */


.template-defi{
    background-color: rgb(31, 164, 96);   
    color: floralwhite;
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 10px;
}

h4{
    text-align: center;
}

.zone1 img{
    display: inline;
    height: 100px;
    width: auto;
    float: left;
}
.zone1 p{
    text-align: justify;
}

.zone3 div .nb-pts{
    display: inline;
    /*background-image: url('../img/etoile.jpg');*/
}

