body {
    margin-bottom: 60px;
    background-color:peachpuff;
}

#menuContainer {
    width: 100%;
    position : fixed;
    bottom: 0;
    z-index: 999;
    font-size: 13px;
    text-align: center;
    background-color: #ffffff;
}

#menuContainer .nav {
    margin: 0 auto;
    border-top: 1px solid  #00bfff;

}

#menuContainer .nav li {
    width: 25%;
    
}

#menuContainer .nav li a {
    border: 0;
    padding-left : 5px;
    padding-right : 5px;
    color: #000000;
}

#menuContainer .nav li a i {
font-size : 20px;
}

#menuContainer .nav li a.active, #menuContainer .nav li a:hover, #menuContainer .nav li a:focus {
    border: 0;
    border-radius: 0;
    background:  #00bfff;
    color: #ffffff;
}

header{
    color: black;
}


.btn_defi{
    width:98%;
    margin: 1%;
    color: black;
 }

/* scrolling menu catégorisation des défis*/
div.scrollmenu {
    background-color: beige;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color:black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}


svg{
  height:20px;
  width: 20px;
}

.nav2{
    background-color:beige;
    display: table-cell;
    /* padding: 10px 10px 10px 10px; */
}

#barrenav {
    font: 1em sans-serif;
    display: table;
    width: 70%;
    margin: 00px auto;
    padding: 0;
    display: table-cell;
}

.tab-content {
    
    /* display: grid; */
    /* grid-gap: 50px; */
    position: relative;
    grid-template-areas:                      "header header header"
                                              "nav	nav nav"
                                              "left 	center right "
                                              "footer	footer footer";
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 20px 600px 200px;
    min-height: 500px;
}


h1, h2 {
    
    font-family: monospace;
    text-align: center;
    
   
  }




/*

.left {
  background-color: dodgerblue;
  grid-area: left;
}

.right {
  background-color: beige;
  grid-area: right;
}

footer {
  background-color: dodgerblue;
  grid-area: footer;
}

.center {
    color:red

} */


.template-defi{
    background-color: rgb(31, 164, 96);
    color: floralwhite;
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 10px;
}

h4{
    text-align: center;
}

.zone1 img{
    display: inline;
    height: 100px;
    width: auto;
    float: left;
}
.zone1 p{
    text-align: justify;
}

.zone3 div .nb-pts{
    display: inline;
    /*background-image: url('../img/etoile.jpg');*/
}

.btn-image-defi {
    display:inline-block;
    /*background-color: #00bfff;*/
    margin:5px;
    border-radius: 2px;
}

.btn-image-categorie img{
    height: 115px;
    width: 150px;
}

.btn-image-defi {
    display:inline-block;
    /*background-color: #00bfff;*/
    margin:5px;
    border-radius: 2px;
}

.btn-image-defi img{
    /*height: 150px;*/
    width: auto;
    border-radius: 3px;
}

.sponsor {
    width: 80px;
    height: 80px;
    margin-left: 6px;
    
}

h6 {
    text-align: center;
    padding:2px;
}

/*.container-sponsor-content{
    
}*/

.container-sponsor-content .row{
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.5);
    /*background-color: #f0f8ff;*/

}

h6 {
    text-align: center;
    padding:2px;
}

/* actualité */ 
.template-actu {
    margin : 5px;
    padding: 5px;
    background-color:whitesmoke;
    border:3px double rgb(124, 116, 116);
    font-family: 'Times New Roman', Times, serif;
}

#intro_actu {
    background-color: lightskyblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
    
h8{
    font-weight: bold;  
    font-family: 'Courier New', Courier, monospace; 
    
}

.nom_defi{
    line-height: 5px;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;  
}

.actu-like{
    display:inline-block;
}
.lien-defi, .lien-defi:hover{
    /* Pour ne pas avoir un lien moche bleu souligné */
    color: black;
}

.commentaire{
    line-height: 13px;
    top: 0px;
    margin-bottom: 29px;
    margin-left: 5px ;
    margin-right: 5px;
    padding : 0.5px;
    border-width:1px 3px 3px 3px;
    border-style:solid dotted;
    border-color:black green;
    background-color: rgb(155, 153, 229);
}

.repcom{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 55px;

}
        
        
