body {
    margin-bottom: 60px;
    background-color:peachpuff;
}

header{
    color: black;
    margin: 15px;
}

header h1{
    padding: 5px;
    font-size: 2.5em;
}

header .row .col-2{
    font-size: 2em;
}

.btn-defi{
    width:98%;
    margin: 1%;
    color: black;
 }

/* scrolling menu catégorisation des défis */
div.scrollmenu {
    background-color: beige;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color:black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

svg{
  height:20px;
  width: 20px;
}

.nav2{
    background-color:beige;
    display: table-cell;
    /* padding: 10px 10px 10px 10px; */
}

#barrenav {
    font: 1em sans-serif;
    display: table;
    width: 70%;
    margin: 00px auto;
    padding: 0;
    display: table-cell;
}

.tab-content {
    /* display: grid; */
    /* grid-gap: 50px; */
    position: relative;
    grid-template-areas:                      "header header header"
                                              "nav	nav nav"
                                              "left 	center right "
                                              "footer	footer footer";
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 20px 600px 200px;
    min-height: 500px;
}

h1, h2 {
    font-family: monospace;
    text-align: center;
}


/* tab défis */


/* bandeau contenus sponsorisés */

.img-sponsor {
    width: 80px;
    height: 80px;
    margin-left: 6px;
}

h2.titre-sponsor-content {
    font-size: 15px;
    text-align: center;
    padding: 2px;
}

.container-sponsor-content .row, .container-sponsor-content-defi .row{
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.5);
}


/* btn-image */

.container-categories {
    text-align: center;
    padding: 5px;
}
.container-categories .row .btn-image-categorie {
    /*margin: 1px;*/
    /*margin: 0.5px;*/
    margin-bottom: 7px;
}


.btn-image-categorie, .btn-image-defi {
    /*margin: 2px;*/
    padding: 5px;
    border-radius: 2px;
    text-align: center;
}

.btn-image-categorie img, .btn-image-defi img{
    height: 115px;
    width: 150px;
    border-radius: 3px;
}
/*????????*/
.btn-image-defi img{
    /*height: 150px;*/
    border-radius: 3px;
}
/*????????*/

/* les éléments à masquer */
.container-categories-none, .container-defis-none, .container-sponsor-content-none, .container-un-defi-none, .btn-retour-defis-none, .btn-retour-un-defi-none {
    display: none;
}



/* page défis */

.container-defis {
    min-height: 550px;
}

.btn-image-defi {
    /*display:inline-block;*/
    /*background-color: #00bfff;*/
    /*margin:5px;*/
    border-radius: 2px;
}

.div-no-defi {
    margin: 20px;
}




/* page 1 défi*/

.container-un-defi .row {
    margin: 5px;
}

h2.titre-defi{
    font-family: Montserrat;
    text-align: center;
}

.description-defi{
    text-align: justify;
    margin: 5px;
}

.description-defi img{
    display: inline;
    height: 100px;
    width: auto;
    float: left;
    margin: 10px;
}

/*.nb-pts {
    display: inline;
    background-image: url('../img/etoile_points.png');
    background-image: url('../img/etoile.jpg');
}*/

.btn-accept-defi img {
    height:100px;
    width: auto;
}






/* fil d'actualité */ 
.template-actu {
    margin : 5px;
    padding: 5px;
    background-color:whitesmoke;
    border:3px double rgb(124, 116, 116);
    font-family: 'Times New Roman', Times, serif;
}

#intro_actu {
    background-color: lightskyblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h8 {
    font-weight: bold;  
    font-family: 'Courier New', Courier, monospace; 
}

.nom_defi{
    line-height: 5px;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;  
}

.actu-like{
    display:inline-block;
}

.lien-defi, .lien-defi:hover{
    /* Pour ne pas avoir un lien moche bleu souligné */
    color: black;
}

.commentaire{
    line-height: 13px;
    top: 0px;
    margin-bottom: 29px;
    margin-left: 5px ;
    margin-right: 5px;
    padding : 0.5px;
    border-width:1px 3px 3px 3px;
    border-style:solid dotted;
    border-color:black green;
    background-color: rgb(155, 153, 229);
}

.repcom{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 55px;
}
<<<<<<< HEAD



/* barre navigation du bas */
#menuContainer {
    width: 100%;
    position : fixed;
    bottom: 0;
    z-index: 999;
    font-size: 13px;
    text-align: center;
    background-color: #ffffff;
}

#menuContainer .nav {
    margin: 0 auto;
    border-top: 1px solid  #00bfff;

}

#menuContainer .nav li {
    width: 25%;
    
}

#menuContainer .nav li a {
    border: 0;
    padding-left : 5px;
    padding-right : 5px;
    color: #000000;
}

#menuContainer .nav li a i {
font-size : 20px;
}

#menuContainer .nav li a.active, #menuContainer .nav li a:hover, #menuContainer .nav li a:focus {
    border: 0;
    border-radius: 0;
    background:  #00bfff;
    color: #ffffff;
}
=======
        
   /* Page profil */
.photoprofil {
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:62px;
    width:99px;
    height:99px;
    margin-left: 20px;
}

.prof-info{

    margin-left: 20px; 
    font-weight: bold;
}

.contact {
   height: 35px;
   width: auto;
   margin-top: -230px; 
   margin-left: 130px;
  
}

#setting{
    height: 59px;
    width: auto;
    margin-top: -55px; 
    margin-left: 130px;
    
}

#score {
   margin-right: 15px;
   margin-top: -120px; 
    float: right; 
    color: rgb(252, 193, 0);    
    text-shadow: 0px 0px 3px #000;
  
    
}

#nb-point {
   
    float: right;
    margin-top:-2%;
    margin-right: 12px;
    
}

.historique {
   margin: 15px 15px 15px 15px;
   padding-top: 10px;
    background-color:whitesmoke;
    border:3px double rgb(124, 116, 116);
    text-align: center;
    letter-spacing: 2px;
    
    
}

#reste {
    margin-top : 15px;
    margin-bottom : 15px;
    
    
}


table {

    left: 10%;
    margin: 5px auto;
    line-height: 2px;
    
  }
  
  thead th {
    
    padding : 13px;
    font-weight: 100;
    letter-spacing: 2px;
   
  }


.container {
    background-color:whitesmoke;
    border:3px double rgb(124, 116, 116);
    
}  

.sponso-propo {
    margin-top : 12px;
    margin-left :-12px;
    margin-right :-12px;
    background-color: gold;
    border:3px double rgb(124, 116, 116);
    
}

.titre{
    font-size: 12px;
    font-weight:bold;
    color:black;
}


.suggestion {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    font-style: italic;
}
}
/* barre de progression dynamique*/
/* 
#pwidget
{
  background-color:lightgray;
  width:254px;
  padding:2px;
  -moz-border-radius:3px;
  border-radius:3px;
  text-align:left;
  border:1px solid gray;	
}
#progressbar
{
  width:250px;
  padding:1px;
  background-color:white;
  border:1px solid black;
  height:28px;
}
#indicator
{
  width:0px;
  background-image:url("..img/green.png");
  height:28px;
  margin:0;
}
#progressnum
{
  text-align:center;
  width:250px;
} */
>>>>>>> da705173dcfe35918c1ca60ff861cc15bf04edab
